#wrapper{
  width:800px;
  height:1200px;
  /*margin: 0 auto;*/
}
.summary{
  text-align:justify;
  margin: 0 30px;
}
a{
  color:lightgrey;
}
#unseen{
  height:100px;
  padding:0 18%;
}
aside{
  font-size: 12px;
  background-color:#1c1a1a;
  color:lightgrey;
  padding: 1% 1.5% 1% 1.5%;
  float:left;
  width:20%;
  clear:left;
  height: 410px;
}
#aside2{
  background-color:#d6d1d2;
  height:790px;
  color:black;
}
h1{
  font-size: 20px;
  text-align:center;
}
h3{
  text-align:center;
}
hr{
  border-color:#1c1a1a;
  border-width:1px;
}
main{
  background-color:mistyrose;
  padding:2%;
  float:right;
  width:73%;
  height:1200px;
}

/*for screens */
@media only screen
 /* and (min-device-width: 414px)*/ 
  and (max-device-width: 1040px) 
/*  and (-webkit-min-device-pixel-ratio: 3)*/{
  #wrapper{
    width:100%;
  }
  aside{
   width:70%;
   margin: auto;
   padding:1% 15% 1% 15%;
   text-align:center;
   font-size:5vw;
    height:auto;
    float:none;
}
  #unseen{
    height:200px;
  }
  h1{
    font-size:10vw;
  }
  main{
    width:70%;
    text-align:justify;
    font-size:5vw;
    padding:1% 15% 1% 15%;
    height:auto;
    float:none;
  }
}
}







